.profile__add-photo-button {
  margin-left: auto;
  justify-self: flex-end;
  background-image: url(../../../images/add-symbol.svg);
  background-repeat: no-repeat;
  width: 150px;
  background-size: 22px;
  background-color: transparent;
  border-color: white;
  border-radius: 2px;
  border-width: 2px;
  padding: 0;
  transition: 0.5s;
  cursor: pointer;
  height: 50px;
  background-position: center;
  border-style: solid;
  box-sizing: border-box;
}

@media screen and (max-width: 425px) {
  .profile__add-photo-button {
    width: 100%;
    background-size: 16px;
  }
}

.profile__add-photo-button:hover {
  opacity: 0.6;
}
