.gallery__delete-button {
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
  background-image: url(../../../images/Trash.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: 0;
  transition: 0.8s;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.gallery__delete-button:hover {
  opacity: 0.6;
}

