.profile__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url(../../../images/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.profile__image-overlay:hover {
    z-index: 100;
}