.header {
  display: flex;
  margin: 45px auto 40px;
  width: 100%;
  align-items: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  padding-bottom: 41px;
}

@media screen and (max-width: 910px) {
  .header {
    padding: 0 10px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 28px auto 42px auto;
    padding: 0 27px;
    min-height: 56px;
  }
}
